/*
Used to fix display of lyrics and chords returned by guitarparty
Added by: Ballares, Justine
*/

.chordline span strong span {
    display: none;
}

.chordline span strong {
    position: relative;
    top: -1.3em;
    left: 0;
    line-height: 2.5em;
    width: 0;
    display: inline-block;
}