  /*
  Style for the chord diagrams
  Added by: Gregorio, Marc Lawrence
  */
  body {
    height: 100%;
  }

  .diagram,
  .display-6,
  .var,
  .content {
    text-align: center;
  }

  .content {
    padding-top: 10px;
  }

  .chord {
    line-height: 50px;
  }

  #diagram {
    height: 103%;
    margin-top: 5%;
  }

  /*
  Style for the Button size in Chord Diagram
  Added by: Baterina, Albert Lexter
  Modified by:Gregorio, Marc Lawrence
  */
  .btn-secondary {
    height: 50px;
    width: 70px;
    margin: 1% 0.5%;
  }

  .actives {
    background-color: rgb(6, 70, 130);
  }


  /*
  Style for the image in index.html
  Added by: Gregorio, Marc Lawrence
  Modified by: Baterina, Albert Lexter
  */
  #par1 {
    text-shadow: black 2px 2px;
    color: white;
  }
  #par2 {
    text-shadow: black 2px 2px;
    color: white;
  }
  #par3 {
    text-shadow: black 2px 2px;
    color: yellow;
  }
  #first {
    background-image: url(../img/whol.jpg);
    height: 600px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
    position: relative;
  }
  #second {
    background-image: url(../img/guitarist2.jpeg);
    height: 600px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
    position: relative;
  }
  #third {
    background-image: url(../img/guitarista.jpeg);
    height: 600px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
    position: relative;
  }

  /*
  Style for the text in index.html
  Added by: Gregorio, Marc Lawrence
  Modified by: Baterina, Albert Lexter
  */
  .mid-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 39px;
  }

  #top-content>h1 {
    margin-top: 20px;
    text-align: center;
  }

  .col-md-9 {
    font-size: 20px;
  }

  .col-md-6>p {
    font-size: 19px;
  }

  .col-md-12>p {
    font-size: 19px;
  }

  img {
    background-position: -10px
  }

  p {
    text-align: justify;
  }

  #accordion {
    margin: 2%;
  }

  .container>p {
    text-align: center;
  }

  .container>h3, #about {
    text-align: center;
  }

  #top-content {
    background-size: cover;
    height: 100px;
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }

  /*
  Style for the padding area on About.html
  Added by: Baterina, Albert Lexter
  */
  #about-content {
    padding: 10px;
  }

  /*
  Style for the footer in About.html
  Added by: Baterina, Albert Lexter
  */
  footer {
    position: absolute;
    position: bottom;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #2a2a2a;
    color: white;
    text-align: center;
    padding: 20px;
  }

  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  /*
  Style for the modal for song search
  Added by: Ballares, Justine Paul
  Modified by: Gregorio, Marc Lawrence
  */
  .table {
    width: 80%;
  }

  .au {
    color: white;
  }

  .view {
    width: 50%;
    display: block;
    margin: auto;
  }

  .modal-content {
    margin: auto;
    padding: 20px;
    width: 130%;
    text-align: center;
  }

  .modal-header {
    text-align: left;
    padding-left: 50%;
  }
